:root {
    --square-w: 0;
    --square-h: 0;
}

* {
    padding:0;
    margin:0;
}

main {
    font-size: 0;
    background: #444;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.row {
    width: 100vw;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
}

.square {
    position: relative;
    flex: 1 1 0;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    font-size: .5rem;
    color: white;
    text-align: center;
}
.square span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.square.edge-right {
    border-right-color: red;
}
.square.edge-top {
    border-top-color: red;
}

.square:hover {
    background: #09097a;
}

aside {
    padding: .5rem;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    color: white;
    background: black;
}

#results {
    position: absolute;
    top: 0;
    left: 0;
}

#player, .sprite {
    position: absolute;
    height: 20px;
    width: 10px;
    cursor: pointer;
}

#player {
    background-color: #c91818;
}
.sprite[data-type='imp'] {
    background-color: brown;
}
.sprite[data-type='guy'] {
    height: 60px;
    background-color: purple;
}
.sprite[data-type='cat'] {
    background-color: yellow;
}

.b {
    background-image: url('/static/images/objects/environment/b.png');
    border-color: transparent;
}
.be {
    background-image: url('/static/images/objects/environment/be.png');
    background-position-x: right;
    border-color: transparent;
}
.bs {
    background-image: url('/static/images/objects/environment/bs.png');
    background-position-x: left;
    border-color: transparent;
}

.e {
    background: rgb(41, 41, 41);
    border-color: transparent;
}
.ee {
    background-image: url('/static/images/objects/environment/ee.png');
    background-position-x: right;
    border-color: transparent;
}
.es {
    background-image: url('/static/images/objects/environment/es.png');
    background-position-x: left;
    border-color: transparent;
}

.l {
    background-image: url('/static/images/objects/environment/l.png');
    border-color: transparent;
}
.ls {
    background-image: url('/static/images/objects/environment/ls.png');
    background-position-x: left;
    border-color: transparent;
}
.le {
    background-image: url('/static/images/objects/environment/le.png');
    background-position-x: right;
    border-color: transparent;
}

.t {
    background-image: url('/static/images/objects/environment/t.png');
    border-color: transparent;
}
.ts {
    background-image: url('/static/images/objects/environment/ts.png');
    background-position-x: left;
    border-color: transparent;
}
.te {
    background-image: url('/static/images/objects/environment/te.png');
    background-position-x: right;
    border-color: transparent;
}
.tb {
    background-image: url('/static/images/objects/environment/tb.png');
    border-color: transparent;
}
.tce{
    background-image: url('/static/images/objects/environment/tce.png');
    background-position-x: right;
    border-color: transparent;
}

.tcs {
    background-image: url('/static/images/objects/environment/tcs.png');
    background-position-x: left;
    border-color: transparent;
}

.v {
    background-image: url('/static/images/objects/environment/v.png');
    border-color: transparent;
}
.vte {
    background-image: url('/static/images/objects/environment/vte.png');
    background-position-x: right;
    border-color: transparent;
}
.vbe {
    background-image: url('/static/images/objects/environment/vbe.png');
    background-position-x: right;
    border-color: transparent;
}
.vts {
    background-image: url('/static/images/objects/environment/vts.png');
    background-position-x: left;
    border-color: transparent;
}
.vbs {
    background-image: url('/static/images/objects/environment/vbs.png');
    background-position-x: left;
    border-color: transparent;
}
.w {
    background-image: url('/static/images/objects/environment/w.png');
    border-color: transparent;
}
.wt {
    background-image: url('/static/images/objects/environment/wt.png');
    border-color: transparent;
}