@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  margin: 0;
  background-color: #444;
}
#gameBanner {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  left: 0;
  top: -2px;
  width: 100%;
  opacity: 0;
  padding: 0;
  margin: 0 auto;
  background: #ffda90;
  border-radius: 2px 2px 0 0;
  transition: .25s;
}
#gameBanner p {
  margin: .5rem;
  width: fit-content;
}
#gameBanner.show {
  /* right: 0; */
  transform: translateY(calc(-100% + 2px));
  opacity: 1;
  transition: .25s;
  transition-delay: .25s;
}

#game {
  position: relative;
  width: 960px;
  height: 480px;
  
  margin: 4rem 0;
  background-image: url('/static/images/Background.png');
  background-size: cover;
  left: 50%;
  transform: translateX(-50%);

  /* background-color: #afbaf2; */
  border-radius: 4px;
}
#game.loading {
  background-color: transparent;
  background-image: url('/static/images/ui/Loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;
}
#game.loading::after {
  content: 'Loading...';
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14pt;
}
canvas, #background {
  overflow: hidden;
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 100%;
}

#mainCanvas {
  border: 2px solid #222;
  box-shadow: inset 0 0 8px black;
}

.instructions {
  color: white;
  text-align: center;
  position: relative;
  font-size: 10pt;
}

#ui {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  transition: .25s;
}
#ui.show {
  opacity: 1;
  pointer-events: all;
  transition: .25s;
}

#initiateButton {
  background-color: #a11d1d;
  border: 2px solid white;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  z-index: 5;
  padding: .35rem .5rem .25rem .5rem;
  border-radius: 6px;
  color: white;
  font-size: 18pt;
  font-family: sans-serif;
  position: absolute;
  left: 50%;
  bottom: 6rem;
  transform: translate(-50%, -50%);
  transition: .25s;
}
#initiateButton:hover {
  padding: .35rem .75rem .25rem .75rem;
  transition: .25s;
}

#initiateButton.hide {
  opacity: 0;
  pointer-events: none;
  transition: .25s;
}

#healthbar {
  position: absolute;
  top: 21px;
  left: 20px;
  z-index: -1;
}

#pauseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 5;
}

#pauseButton svg {
  fill: white;
}

#pauseButton:not(.paused) #playIcon {
  display: none;
}

#pauseButton.paused #pauseIcon {
  display: none;
}

#closeMenu, #resetGame {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: .25rem .5rem .25rem .5rem;
  background-color: #a11d1d;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
  cursor: pointer;
  transition: .25s;
}
#resetGame {
  bottom: 10rem;
}

#closeMenu:hover, #resetGame:hover {
  padding: .25rem .75rem .25rem .75rem;
  transition: .25s;
}

#menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  /* background-image: url('/static/images/ui/UI Box_Large.png');
  background-position: center;
  background-repeat: no-repeat; */

  opacity: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;

  padding: 1rem;
}
#menu h3 {
  text-align: center;
}
#menu div {
  position: relative;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 85%;
  overflow-y: scroll;
}

#menu p {
  margin-top: 0;
}
#menu h3, #menu h4 {
  margin-bottom: 0;
}

#gameOverMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  /* background-image: url('/static/images/ui/UI Box_Small.png');
  background-position: center;
  background-repeat: no-repeat; */

  opacity: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  filter: drop-shadow(0 0 4px black);

  padding: 1rem;
  transition: .25s;
}
.death-image {
  height: 4rem;
  position: relative;
}
#gameOverMenu div {
  position: relative;
  padding-top: 9rem;
  text-align: center;
}
#gameOverMenu.show {
  opacity: 1;
  pointer-events: all;
  transition: .25s;
}

#pauseButton.paused + #menu {
  opacity: 1;
  pointer-events: all;
  transition: .25s;
}

@media (max-width: 980px) {
  #game {
    width: 720px;
    height: 360px;
  }
  #initiateButton {
    bottom: 3rem;
  }
  #healthbar {
    width: 11.25rem;
    left: 15px;
    top: 16px;
  }
  #gameOverMenu div {
    padding-top: 7rem;
  }
  #gameOverMenu h3 {
    margin-top: 4px;
  }
  .death-image {
    height: 2rem;
  }
  #resetGame {
    bottom: 7.5rem;
  }
}
@media (max-width: 740px) {
  #game {
    width: 480px;
    height: 240px;
  }
  #initiateButton {
    bottom: 1rem;
  }
  #healthbar {
    width: 7.7rem;
    left: 8px;
    top: 10px;
  }
  #gameOverMenu div {
    padding-top: 4.25rem;
    font-size: 10pt;
  }
  #gameOverMenu p {
    margin-top: 2px;
    font-size: 9pt;
  }
  #gameOverMenu h4 {
    margin-bottom: 2px;
  }
  .death-image {
    height: 2rem;
  }
  #resetGame {
    bottom: 5rem;
    font-size: 7pt;
  }
}