<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/builder.css">
    <script src="/static/scripts/builder.js" defer type="module"></script>
    <title>Document</title>
</head>
<body id="body">
    <main id="level" data-x="{{ data.dimensions.x }}" data-y="{{ data.dimensions.y }}">
        {% for i in range(data.dimensions.y) %}
            {% set r = data.objectsHash[i] %}
            {% set c = r.split(" ") %}
            {% set text = '' %}
            <div id='row{{ i }}' class="row">
                {% for j in range(data.dimensions.x) %}
                    {% set thisData = c[j].split('.') %}
                    {% if thisData[0] != "x" %}
                        {% set text = thisData[0] %}
                    {% endif %}


                    {% if j == 39 and i == data.dimensions.y - 20 %}
                        <div id="{{ i }}.{{ j }}" data-x="{{ j }}" data-blocking="{{ thisData[0] }}" data-type="{{ thisData[1] }}" class="square {{ thisData[1] }} edge-top edge-right"><span>{{ text }}</span></div>
                    {% elif j == 39 and i >= data.dimensions.y - 20 %}
                        <div id="{{ i }}.{{ j }}" data-x="{{ j }}" data-blocking="{{ thisData[0] }}" data-type="{{ thisData[1] }}" class="square {{ thisData[1] }} edge-right"><span>{{ text }}</span></div>
                    {% elif i == data.dimensions.y - 20 and  j <= 39 %}
                        <div id="{{ i }}.{{ j }}" data-x="{{ j }}" data-blocking="{{ thisData[0] }}" data-type="{{ thisData[1] }}" class="square {{ thisData[1] }} edge-top"><span>{{ text }}</span></div>
                    {% else %}
                        <div id="{{ i }}.{{ j }}" data-x="{{ j }}" data-blocking="{{ thisData[0] }}" data-type="{{ thisData[1] }}" class="square {{ thisData[1] }}"><span>{{ text }}</span></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </main>
    <aside id="indicator"></aside>
    <div id="results"></div>
</body>
</html>