<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/builder.css">
    <script src="/static/scripts/builder.js" defer type="module"></script>
    <title>Document</title>
</head>
<body id="body">
    <main id="level" data-x="{{ x }}" data-y="{{ y }}">
        {% for i in range(y) %}
            <div id='row{{ i }}' class="row">
                {% for j in range(x) %}
                    <div id="{{ i }}.{{ j }}" data-x="{{ j }}" data-blocking="0" data-type="x" class="square"></div>
                {% endfor %}
            </div>
        {% endfor %}
    </main>
    <aside id="indicator"></aside>
    <div id="results"></div>
</body>
</html>