<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Running Red</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="/static/scripts/main.js" defer type="module"></script>
    
  </head>
  <body>
    <section id="game">
      <div id="gameBanner"></div>
      <div id="ui">
        <img id="healthbar" src="/static/images/Healthbar.png">
      </div>
      <section id="background"></section>
      <canvas id="mainCanvas"></canvas>
      <canvas id="uiCanvas"></canvas>
    </section>
    <section class="instructions">
      <p>Use A,D or Left, Right to run</p>
      <p>Use W, Spacebar or Up to jump</p>
      <p>While running use S or Down to slide</p>
      <p>Use E or Numpad 0 to attack</p>
      <p>Hold and release F or Numpad 1 to shoot</p>
    </section>   
    
  </body>
</html>
